#
# /isolinux/archiso_sys-linux.cfg
#
# This file is a part of AnOS.
#

LABEL anos_bios
TEXT HELP
Boot the AnOS install medium on BIOS.
It allows you to install AnOS or perform system maintenance.
ENDTEXT
MENU LABEL AnOS Install (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# ========================================================================
# Dưới đây là Boot Option mới bạn vừa thêm cho NVIDIA
# ========================================================================
LABEL anos_nvidia
TEXT HELP
Boot AnOS with NVIDIA proprietary drivers.
Select this option if you have an NVIDIA graphics card.
This disables the open-source 'nouveau' driver.
ENDTEXT
MENU LABEL AnOS Install (%ARCH%, NVIDIA)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% nouveau.modeset=0 nvidia-drm.modeset=1

# ========================================================================

# Accessibility boot option
LABEL anosspeech
TEXT HELP
Boot the AnOS install medium on BIOS with speakup screen reader.
Allows system installation or maintenance with speech feedback.
ENDTEXT
MENU LABEL AnOS Install (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
